<nav class="uwt-sidenav" aria-label="Quick navigation sidebar">
  <div class="uwt-sidenav__header">
    <span>{{nav_header}}</span>
  </div>
  <div class="uwt-sidenav__sections">
    <a href="{{link1_url}}" class="uwt-sidenav__item">{{link1_text}}</a>
    <a href="{{link2_url}}" class="uwt-sidenav__item">{{link2_text}}</a>
    <a href="{{link3_url}}" class="uwt-sidenav__item">{{link3_text}}</a>
    <a href="{{link4_url}}" class="uwt-sidenav__item">{{link4_text}}</a>
    <a href="{{link5_url}}" class="uwt-sidenav__item">{{link5_text}}</a>
    <a href="{{link6_url}}" class="uwt-sidenav__item">{{link6_text}}</a>
    <a href="{{link7_url}}" class="uwt-sidenav__item">{{link7_text}}</a>
  </div>
</nav>