<div class="section">
   <div class="section-image">
       <img src="{{image_url}}" alt="{{image_alt}}">
   </div>

   <div class="section-content">
       <h2>{{section_title}}</h2>
       <p>{{section_text}}</p>
       <a href="{{btn_url}}" class="section-button">{{btn_text}}</a>
   </div>
</div>